
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

h1 {
    color: #333;
}

#game {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

#controls {
    margin: 10px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#tree {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
    height: 500px;
}

.node {
    background-color: #007acc;
    color: white;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    width: 2px;
    background-color: #333;
}

#next-number {
    font-size: 24px;
    font-weight: bold;
    color: #007acc;
    margin: 10px 0;
}

#message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}